name: Build and Test Changes

on:
  pull_request:
    branches:
      - main

  push:
    branches:
      - main

permissions:
  contents: read
  checks: write

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - name: Restore
        run: |
          dotnet restore "./Schedly.Core/Schedly.Core.csproj"

      - name: Build
        run: |
          dotnet build "./Schedly.Core/Schedly.Core.csproj" --no-restore --configuration Release

      - name: Test
        run: |
          dotnet test "./tests/Schedly.Core.Tests/Schedly.Core.Tests.csproj" --no-build --configuration Release --logger "trx;LogFileName=test-results.trx"
