name: Build and Test Changes

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read
  checks: write

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - name: List files and directories
        run: |
          echo "Listing files and directories in the repository:"
          ls
          echo "Current working directory: $(pwd)" 
          
      - name: Test
        run: |
          dotnet test "src/Schedly.Core.Tests/Schedly.Core.Tests.csproj" --configuration Release --logger "trx;LogFileName=test-results.trx"