name: Publish to NuGet

on:
  push:
    branches:
      - main

permissions:
  contents: read
  packages: write

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - name: Test
        run: |
          dotnet test "./tests/Schedly.Core.Tests/Schedly.Core.Tests.csproj" --configuration Release --logger "trx;LogFileName=test-results.trx"

      - name: Pack Schedly Nuget
        run: |
          mkdir -p ./artifacts
          dotnet pack "./Schedly.Core/Schedly.Core.csproj" -c Release -o ./artifacts

      - name: Push to NuGet.org
        if: secrets.NUGET_API_KEY != ''
        env:
          NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
        run: |
          dotnet nuget push "./artifacts/*.nupkg" --api-key "$NUGET_API_KEY" --source https://api.nuget.org/v3/index.json --skip-duplicate